<main>
  <div class="event-table">
    <p class="heading">Properties</p>
    <nz-table
      #basicTable
      [nzData]="eventsTableData"
      [nzShowPagination]="false"
      [nzFrontPagination]="false"
      [nzScroll]="{ y: '400px' }"
    >
      <thead>
        <tr>
          <th>Account</th>
          <th>Date</th>
          <th>Camera Type</th>
          <th>Event ID</th>
          <th>Time Since Upload</th>
          <th>Event Type</th>
          <th>Vehicle ID</th>
          <th>Company ID</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of basicTable.data">
          <td>{{ data.userId }}</td>
          <td>{{ data.date }}</td>
          <td>{{ data.cameraType }}</td>
          <td>{{ data.id }}</td>
          <td>{{ data.timeSinceUpload }}</td>
          <td>{{ data.type }}</td>
          <td>{{ data.vehicleId }}</td>
          <td>{{ data.companyId }}</td>
        </tr>
      </tbody>
    </nz-table>
  </div>
</main>
