
.event-table {
  padding-top: 12px;

  .heading {
    font-size: 16px;
    font-weight: 600;
    margin-left: 16px;
  }
}

.flex {
  display: flex;
  padding-top: 16px;
}

.top-section {

  .section-heading {
    font-size: 16px;
    font-weight: bold;
    border-bottom: 1px solid black;
    margin-right: 16px;
  }

}

canvas {
  width: 80%;
  height: auto;
  margin: auto;
}